In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.feature_selection import VarianceThreshold
from sklearn.preprocessing import LabelEncoder

In [2]:
train = pd.read_csv('C:/Malik/Python_Tutorial/Juypter_Notebook/Project/ML/Mercedes/Projects/Projects for Submission\Project 1 - Mercedes-Benz Greener Manufacturing/Dataset for the project/train/train.csv', index_col = 'ID')
test = pd.read_csv('C:/Malik/Python_Tutorial/Juypter_Notebook/Project/ML/Mercedes/Projects/Projects for Submission\Project 1 - Mercedes-Benz Greener Manufacturing/Dataset for the project/test/test.csv', index_col = 'ID')

In [3]:
train.head()

,y,X0,X1,X2,X3,X4,X5,X6,X8,X10,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
ID,,,,,,,,,,,,,,,,,,,,,
0,130.81,k,v,at,a,d,u,j,o,0,...,0,0,1,0,0,0,0,0,0,0
6,88.53,k,t,av,e,d,y,l,o,0,...,1,0,0,0,0,0,0,0,0,0
7,76.26,az,w,n,c,d,x,j,x,0,...,0,0,0,0,0,0,1,0,0,0
9,80.62,az,t,n,f,d,x,l,e,0,...,0,0,0,0,0,0,0,0,0,0
13,78.02,az,v,n,f,d,h,d,n,0,...,0,0,0,0,0,0,0,0,0,0

In [4]:
#train.drop(['y'],axis = 1,inplace = True)

In [5]:
train.shape

(4209, 377)

In [6]:
train.head()

,y,X0,X1,X2,X3,X4,X5,X6,X8,X10,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
ID,,,,,,,,,,,,,,,,,,,,,
0,130.81,k,v,at,a,d,u,j,o,0,...,0,0,1,0,0,0,0,0,0,0
6,88.53,k,t,av,e,d,y,l,o,0,...,1,0,0,0,0,0,0,0,0,0
7,76.26,az,w,n,c,d,x,j,x,0,...,0,0,0,0,0,0,1,0,0,0
9,80.62,az,t,n,f,d,x,l,e,0,...,0,0,0,0,0,0,0,0,0,0
13,78.02,az,v,n,f,d,h,d,n,0,...,0,0,0,0,0,0,0,0,0,0

In [7]:
test.head()

,X0,X1,X2,X3,X4,X5,X6,X8,X10,X11,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
ID,,,,,,,,,,,,,,,,,,,,,
1,az,v,n,f,d,t,a,w,0,0,...,0,0,0,1,0,0,0,0,0,0
2,t,b,ai,a,d,b,g,y,0,0,...,0,0,1,0,0,0,0,0,0,0
3,az,v,as,f,d,a,j,j,0,0,...,0,0,0,1,0,0,0,0,0,0
4,az,l,n,f,d,z,l,n,0,0,...,0,0,0,1,0,0,0,0,0,0
5,w,s,as,c,d,y,i,m,0,0,...,1,0,0,0,0,0,0,0,0,0

## Unique value

In [8]:
for col in train.columns:
    if(train[col].dtype != np.float64 and train[col].dtype != np.int64):  
        unique_train = train[col].unique().tolist()
        unique_test = test[col].unique().tolist()
        
        for member in unique_test:
            if member not in unique_train:
                unique_train.append(member)
               
        le = LabelEncoder()
        le.fit(list(train[col].values) + list(train[col].values))
        train[col] = le.transform(list(train[col].values))
        unique_value_train = train[col].unique().tolist()
        le.fit(list(test[col].values) + list(test[col].values))
        test[col] = le.transform(list(test[col].values))
        unique_value_test = test[col].unique().tolist()

print(unique_value_train)

[14, 23, 4, 13, 18, 0, 7, 15, 12, 10, 3, 8, 21, 9, 1, 16, 22, 6, 24, 11, 5, 20, 17, 19, 2]

In [9]:
train.head()

,y,X0,X1,X2,X3,X4,X5,X6,X8,X10,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
ID,,,,,,,,,,,,,,,,,,,,,
0,130.81,32,23,17,0,3,24,9,14,0,...,0,0,1,0,0,0,0,0,0,0
6,88.53,32,21,19,4,3,28,11,14,0,...,1,0,0,0,0,0,0,0,0,0
7,76.26,20,24,34,2,3,27,9,23,0,...,0,0,0,0,0,0,1,0,0,0
9,80.62,20,21,34,5,3,27,11,4,0,...,0,0,0,0,0,0,0,0,0,0
13,78.02,20,23,34,5,3,12,3,13,0,...,0,0,0,0,0,0,0,0,0,0

In [10]:
test.head()

,X0,X1,X2,X3,X4,X5,X6,X8,X10,X11,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
ID,,,,,,,,,,,,,,,,,,,,,
1,21,23,34,5,3,26,0,22,0,0,...,0,0,0,1,0,0,0,0,0,0
2,42,3,8,0,3,9,6,24,0,0,...,0,0,1,0,0,0,0,0,0,0
3,21,23,17,5,3,0,9,9,0,0,...,0,0,0,1,0,0,0,0,0,0
4,21,13,34,5,3,31,11,13,0,0,...,0,0,0,1,0,0,0,0,0,0
5,45,20,17,2,3,30,8,12,0,0,...,1,0,0,0,0,0,0,0,0,0

## Variance Threshold

In [11]:
var_thres_train = VarianceThreshold(threshold = 0)
var_thres_train.fit(train)

VarianceThreshold(threshold=0)

In [12]:
var_zero_train = [ column for column in train.columns if column not in train.columns[var_thres_train.get_support()]]

In [13]:
train.drop(var_zero_train,axis = 1,inplace = True)

In [14]:
train.head()

,y,X0,X1,X2,X3,X4,X5,X6,X8,X10,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
ID,,,,,,,,,,,,,,,,,,,,,
0,130.81,32,23,17,0,3,24,9,14,0,...,0,0,1,0,0,0,0,0,0,0
6,88.53,32,21,19,4,3,28,11,14,0,...,1,0,0,0,0,0,0,0,0,0
7,76.26,20,24,34,2,3,27,9,23,0,...,0,0,0,0,0,0,1,0,0,0
9,80.62,20,21,34,5,3,27,11,4,0,...,0,0,0,0,0,0,0,0,0,0
13,78.02,20,23,34,5,3,12,3,13,0,...,0,0,0,0,0,0,0,0,0,0

In [15]:
train.shape

(4209, 365)

In [16]:
train.isna().sum()

y       0
X0      0
X1      0
X2      0
X3      0
       ..
X380    0
X382    0
X383    0
X384    0
X385    0
Length: 365, dtype: int64

In [17]:
test.drop(var_zero_train,axis = 1,inplace = True)
test.head()

,X0,X1,X2,X3,X4,X5,X6,X8,X10,X12,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
ID,,,,,,,,,,,,,,,,,,,,,
1,21,23,34,5,3,26,0,22,0,0,...,0,0,0,1,0,0,0,0,0,0
2,42,3,8,0,3,9,6,24,0,0,...,0,0,1,0,0,0,0,0,0,0
3,21,23,17,5,3,0,9,9,0,0,...,0,0,0,1,0,0,0,0,0,0
4,21,13,34,5,3,31,11,13,0,0,...,0,0,0,1,0,0,0,0,0,0
5,45,20,17,2,3,30,8,12,0,0,...,1,0,0,0,0,0,0,0,0,0

## NULL in train & test data

In [18]:
sum(train.isna().sum())

0

In [19]:
test.isna().sum()

X0      0
X1      0
X2      0
X3      0
X4      0
       ..
X380    0
X382    0
X383    0
X384    0
X385    0
Length: 364, dtype: int64

In [20]:
sum(test.isna().sum())

0

In [21]:
print(train.shape,test.shape)

(4209, 365) (4209, 364)

## Scaling

In [22]:
X_train = train.iloc[:,1:]
y_train = train.iloc[:,0]

from sklearn.preprocessing import StandardScaler
scalling = StandardScaler()
X_train_scalled = scalling.fit_transform(X_train)
test_scalled = scalling.fit_transform(test)

## Dimensional Reduction

In [23]:
from sklearn.decomposition import PCA

In [24]:
sklearn_PCA = PCA(n_components = 200)

In [25]:
sklearn_PCA.fit(X_train_scalled)
x_train_transform = sklearn_PCA.transform(X_train_scalled)
print(x_train_transform.shape)

(4209, 200)

In [26]:
x_test_transform = sklearn_PCA.transform(test_scalled)

In [27]:
sklearn_PCA.components_

array([[-5.35850147e-02,  3.02768146e-02,  7.67089079e-02, ...,
         2.54830761e-03, -1.03542621e-03, -3.83323362e-03],
       [-4.40293464e-02,  7.64543717e-02,  3.03300345e-02, ...,
        -6.26757593e-03, -1.08513170e-04,  2.65683265e-03],
       [-7.54999549e-02,  1.10395307e-01, -1.18728567e-02, ...,
        -6.28244169e-03,  3.31178413e-03,  1.49452025e-02],
       ...,
       [-7.20164755e-02,  5.50705348e-02, -2.48170805e-02, ...,
        -1.20845205e-02,  2.80340529e-04,  1.71638531e-02],
       [-8.55773550e-02,  1.72328794e-01, -1.90708728e-02, ...,
         3.22088348e-02, -1.33035529e-02, -2.22952364e-03],
       [-2.31910441e-02,  9.10497480e-02,  4.65167970e-03, ...,
        -3.51776666e-03,  1.93318647e-03,  6.64019306e-03]])

In [28]:
sklearn_PCA.explained_variance_ratio_ * 100

array([6.89266892, 5.68841213, 4.53745695, 3.42677135, 3.26430877,
       3.16266067, 2.86252442, 2.12375123, 1.97041337, 1.7831955 ,
       1.64006646, 1.56428622, 1.46274226, 1.44833491, 1.3482858 ,
       1.29516175, 1.24383219, 1.17310333, 1.12105051, 1.07727793,
       0.9925129 , 0.96944916, 0.94252308, 0.90986798, 0.87422391,
       0.84306948, 0.79020494, 0.76321761, 0.73354188, 0.71490557,
       0.69295727, 0.6766773 , 0.65253444, 0.64149409, 0.62269204,
       0.59919615, 0.58808619, 0.57469356, 0.56370274, 0.55340962,
       0.55064115, 0.5400826 , 0.5339106 , 0.5246116 , 0.51019425,
       0.50323242, 0.49588546, 0.47269157, 0.46447523, 0.45652148,
       0.43962447, 0.43294753, 0.43032243, 0.42376213, 0.42021196,
       0.41547342, 0.40669954, 0.40346275, 0.39187399, 0.38874708,
       0.38175932, 0.3755601 , 0.37244005, 0.36591056, 0.35956655,
       0.35522966, 0.34970095, 0.34618228, 0.34047172, 0.33415781,
       0.33098491, 0.32552193, 0.32408451, 0.32104509, 0.3166712 ,
       0.31616911, 0.30996373, 0.30757914, 0.30531764, 0.30395524,
       0.30025585, 0.29890315, 0.29583482, 0.29290687, 0.29078928,
       0.28924684, 0.28708887, 0.28486107, 0.28289354, 0.28066186,
       0.27948942, 0.27696475, 0.27497768, 0.27253819, 0.27239674,
       0.26691595, 0.26484977, 0.26303548, 0.26099544, 0.26066542,
       0.2573836 , 0.25496897, 0.25362125, 0.25195393, 0.25039817,
       0.24845797, 0.2440532 , 0.2421836 , 0.24035358, 0.23843233,
       0.23451796, 0.23116611, 0.23004977, 0.22722331, 0.22561312,
       0.22353257, 0.22146556, 0.22002825, 0.21505531, 0.21366779,
       0.21033561, 0.20941036, 0.20584206, 0.20412209, 0.2024688 ,
       0.198912  , 0.19387626, 0.19196756, 0.1918013 , 0.18793531,
       0.18517133, 0.18141932, 0.17935748, 0.17862128, 0.17539232,
       0.17175294, 0.17071987, 0.16798312, 0.16580817, 0.16186097,
       0.1611394 , 0.15770669, 0.15426166, 0.15353827, 0.1496788 ,
       0.14938487, 0.14785223, 0.14282806, 0.14110804, 0.13737642,
       0.13381495, 0.12880325, 0.12697228, 0.12621304, 0.12072109,
       0.11619159, 0.11433672, 0.11275177, 0.10949839, 0.10586895,
       0.09999077, 0.09891025, 0.09863587, 0.09545305, 0.0945027 ,
       0.0911482 , 0.08993307, 0.08808638, 0.08636079, 0.08594287,
       0.08293789, 0.08240348, 0.07981768, 0.07910664, 0.07786744,
       0.07448112, 0.072428  , 0.07079494, 0.06856854, 0.06720499,
       0.06555335, 0.06406384, 0.06118042, 0.05857472, 0.05579112,
       0.05455948, 0.05409521, 0.0529613 , 0.05223167, 0.0508795 ,
       0.04937253, 0.04711595, 0.04590146, 0.0449209 , 0.04346704,
       0.04255741, 0.04119979, 0.04058558, 0.03975323, 0.03909569])

In [29]:
sum(sklearn_PCA.explained_variance_ratio_ * 100)

99.16654451124278

## XGBoost

In [30]:
import xgboost as xgb
from sklearn.model_selection import GridSearchCV

grid_values = {'n_estimators': [74,75,76], 'learning_rate': [0.15,0.135,0.14], 'max_depth': [1,2,3,4]}
grid_xgb = GridSearchCV(xgb.XGBRegressor(), param_grid = grid_values, cv=10, scoring = 'r2',verbose = True)
grid_xgb.fit(X_train_scalled,y_train)
predict_xgb = grid_xgb.predict(test_scalled)

print('Mean score matrix: ', grid_xgb.cv_results_['mean_test_score'])
print('Grid best parameter (max. accuracy): ', grid_xgb.best_params_)
print('Grid best score (accuracy): ', grid_xgb.best_score_)

Fitting 10 folds for each of 36 candidates, totalling 360 fits
Mean score matrix:  [0.55869569 0.55888656 0.55900544 0.57695728 0.57693757 0.57698383
 0.57015025 0.56995703 0.57005308 0.5649761  0.56498811 0.56424096
 0.55656878 0.55691113 0.5569909  0.57755307 0.57762044 0.57750451
 0.57214015 0.57211564 0.57179367 0.56615558 0.56586376 0.56572595
 0.55729895 0.55751431 0.55762777 0.57766028 0.57750089 0.57755307
 0.57157867 0.57150751 0.57140066 0.56746555 0.56701474 0.56683864]
Grid best parameter (max. accuracy):  {'learning_rate': 0.14, 'max_depth': 2, 'n_estimators': 74}
Grid best score (accuracy):  0.5776602766294958

In [31]:
final_predictions = pd.DataFrame()
final_predictions['id'] = test.index
final_predictions['y'] = pd.Series(predict_xgb)
final_predictions.to_csv('C:/Malik/Python_Tutorial/Juypter_Notebook/Project/ML/Mercedes/Projects/Projects for Submission\Project 1 - Mercedes-Benz Greener Manufacturing/Dataset for the project/predictions.csv', index=False)